@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NATIONAL FOOTBALL LEAGUE</h1>
    <p class="lead">Conheça a NFL, a melhor liga de esportes americanos.</p>
    <p><a href="https://www.nfl.com/" class="btn btn-primary btn-lg">NFL &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>100 TEMPORADA</h2>
        <p>
            Conheça as franquias que fizeram parte da história, navegue por esse esporte e torne se mais um amante da 
            bola oval.
        </p>
        <p><a class="btn btn-default" href="https://www.nfl.com/100/">100º &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NFL Shop</h2>
        <p>Jerseys, T-Shirts, Kids, Men, Womem, BY TEAM, Collectibles.</p>
        <p><a class="btn btn-default" href="https://www.nflshop.com/">Shop &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Game Pass</h2>
        <p>Veja todos os jogos da temporada, transmissão simultanea, grave jogos, assista só os jogos da sua franquia. </p>
        <p><a class="btn btn-default" href="https://gamepass.nfl.com/">Assine &raquo;</a></p>
    </div>
</div>